<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../includes/head') %>
    <body data-page="<%= fileName %>">
        <%- include('../includes/header') %>
        <main>
            <section class="franchise">
                <div class="franchise-box">
                    <div class="jetgrid jetgrid--container jetflex--align-items-center jetflex--justify-content-center jetflex--sm-direction-column-reverse jetflex--sm-align-items-start jetgrid--sm-no-gap">
                        <div class="video-banner jetgrid__col--14 jetgrid__col--sm-24 jetgrid--sm-no-gap">
                            <div class="video-banner__container">
                                <div class="video-box">
                                    <div class="video-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0">
                                            <defs>
                                                <clipPath id="custom-shape-video" >
                                                    <path class="jetdisplay--lg-none jetdisplay--sm-block jetdisplay--xs-none" d="M336.331,568.574c164.049-174.182,381.848-157.11,330.9-332.461S412.816-96.125,285.819,71.525,0,177.728,0,351.759,172.283,742.755,336.331,568.574Z" transform="matrix(-0.829, -0.559, 0.559, -0.829, 567.049, 916.815)" fill="none"/>
                                                    <path class="jetdisplay--none jetdisplay--lg-block jetdisplay--md-none" d="M288.284,487.349c140.614-149.3,327.3-134.666,283.631-284.966S353.843-82.393,244.988,61.307,0,152.339,0,301.508,147.671,636.648,288.284,487.349Z" transform="matrix(-0.829, -0.559, 0.559, -0.829, 503.899, 820.985)" fill="none"/>
                                                    <path class="jetdisplay--none jetdisplay--md-block jetdisplay--sm-none jetdisplay--xs-block" d="M216.213,365.512c105.46-111.974,245.473-101,212.724-213.725S265.382-61.795,183.741,45.98,0,114.254,0,226.131,110.753,477.486,216.213,365.512Z" transform="matrix(-0.829, -0.559, 0.559, -0.829, 409.174, 677.239)" fill="none"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        <video class="franchise-video" autoplay muted loop>
                                            <source src="/franchise-video.mp4" type="video/mp4" />
                                        </video>
                                    </div>
                                </div>
                                <img class="video-bg" src="/banner-bg.png" alt="">
                            </div>
                        </div>
                        <div class="franchise-banner__text jetgrid__col--10 jetgrid__col--sm-24 jetgrid--sm-no-gap">
                            <div class="franchise-banner__anton">Seja um franqueado</div>
                            <div class="franchise-banner__fuzzy">do buffet líder<br class="jetdisplay--sm-none"> em<br class="jetdisplay--none jetdisplay--xs-block"> festas<br class="jetdisplay--sm-none"> infantis</div>
                            <svg class="franchise-banner__star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="129.733" height="140.527" viewBox="0 0 129.733 140.527"><defs><clipPath id="a"><rect width="129.733" height="140.527" fill="none"/></clipPath><clipPath id="c"><rect width="15.59" height="6.387" fill="none"/></clipPath><clipPath id="d"><rect width="15.59" height="6.386" fill="none"/></clipPath><clipPath id="e"><rect width="8.108" height="7.621" fill="none"/></clipPath><clipPath id="f"><rect width="8.108" height="7.62" fill="none"/></clipPath></defs><g clip-path="url(#a)"><g clip-path="url(#a)"><path d="M122.636,45.306c-6.219.137-9.266,5.213-27.218,9.4-10.246,2.387-17.633-9.6-20.9-14.525S56.35,37.8,48.771,39.96,40.526,42.18,37.21,57.233s-7.8,19.353-12.777,24.914c-6.4,7.159-15.113,10.98-19.293,14.389-10.464,8.537-2.269,13.164,1.137,14.226,12.62,3.935,20.566,6.055,25.568,13.674,2.341,3.565,1.553,16.23.115,23.981-.136.735-.233,1.461-.306,2.18l-.322-.221c.618,4.1-1.74,7.99-3.786,11.6a2.777,2.777,0,0,0-.476,1.366c.017.995,1.038,1.657,1.988,1.954,2.5.782,5.206.323,7.788-.142,2.843-.512,5.939-1.187,8.064-3,7.454-3.762,16.864-15.053,27.544-19.847,12.009-5.391,23.194.6,31.2,3.052,2.582,1.5,5.986,2.191,9.149,2.746,3.281.575,6.717,1.148,9.939.4,1.222-.284,2.548-.952,2.6-2.005a2.621,2.621,0,0,0-.565-1.462c-2.147-3.348-3.022-6.534-3.982-10.448-.969-7.589-5.127-19.241-6.545-28.345-1.836-11.793,9.245-31.392,13.7-43.553,3.983-10.877.907-17.528-5.312-17.392" transform="translate(0 -25.195)" fill="#e20917"/><path d="M168.705,260.156c-10.56,12.664-4.983,29.463-2.012,36.253,4.833-4.093,10.121-8.441,15.764-10.974,9.321-4.184,18.146-1.51,25.372,1.043,3.681-12.272.912-22.409-2.678-28.708-4.336-7.609-22.9-13.859-36.446,2.386" transform="translate(-109.665 -168.645)" fill="#e84f35"/><path d="M91.906,22.466A11.251,11.251,0,0,1,98.971,20.3,27.527,27.527,0,0,0,86.348,37.913a24.806,24.806,0,0,1,12.578-5.853,14.084,14.084,0,0,0,.438,14.961A18.692,18.692,0,0,1,106.436,34.4a36.909,36.909,0,0,0,10.047,12.317A20.412,20.412,0,0,1,119.8,27.675a14.578,14.578,0,0,0,13.362,6.468c-2.913-1.843-5.267-4.934-5.293-8.381s2.931-6.913,6.366-6.625A26.18,26.18,0,0,0,113.072,0l6.2,4.65A25.908,25.908,0,0,0,97.309,9.428l10.045.559a26.056,26.056,0,0,0-15.448,12.48" transform="translate(-58.258)" fill="#c01818"/><path d="M128.935,177.477a4.44,4.44,0,1,1-4.379-4.5,4.44,4.44,0,0,1,4.379,4.5" transform="translate(-80.999 -116.705)"/><path d="M134.91,179.937a1.776,1.776,0,1,1-1.751-1.8,1.776,1.776,0,0,1,1.751,1.8" transform="translate(-88.626 -120.186)" fill="#fff"/><path d="M256.565,128.041a4.44,4.44,0,1,1-4.379-4.5,4.44,4.44,0,0,1,4.379,4.5" transform="translate(-167.11 -83.351)"/><path d="M262.539,130.5a1.776,1.776,0,1,1-1.751-1.8,1.776,1.776,0,0,1,1.751,1.8" transform="translate(-174.735 -86.832)" fill="#fff"/><path d="M127.262,207.482c.215.988-1.99,2.308-4.925,2.948s-5.489.358-5.7-.631,1.989-2.308,4.924-2.948,5.489-.358,5.705.631" transform="translate(-78.681 -139.329)" fill="#ec694b"/><path d="M269.264,155.172c.215.988-1.989,2.308-4.924,2.948s-5.489.358-5.7-.631,1.989-2.308,4.924-2.948,5.489-.358,5.7.631" transform="translate(-174.488 -104.036)" fill="#ec694b"/><g transform="translate(61.115 60.462)" style="mix-blend-mode:multiply;isolation:isolate"><g clip-path="url(#c)"><g transform="translate(0 0)"><g clip-path="url(#d)"><path d="M188.364,192.251a16.954,16.954,0,0,0,15.264-5.894" transform="translate(-188.201 -186.195)" fill="none" stroke="#754d24" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/></g></g></g></g><g transform="translate(75.726 54.786)" style="mix-blend-mode:multiply;isolation:isolate"><g clip-path="url(#e)"><g transform="translate(0 0)"><g clip-path="url(#f)"><path d="M233.7,168.909a5.224,5.224,0,0,0,7.366,6.642" transform="translate(-233.117 -168.747)" fill="none" stroke="#754d24" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/></g></g></g></g></g></g></svg>
                        </div>
                    </div>
                    <div class="clouds">
                        <img class="franchise__blue-star" src="/star-blue.svg" alt="estrela azul">
                        <img class="franchise__pink-flower" src="/flower-pink.svg" alt="flor rosa">
                        <img class="franchise__salmon-flower" src="/flower-salmon.svg" alt="flor salmão">
                        <img class="franchise__clouds" src="/cream-clouds.svg" alt="nuvens">
                    </div>
                </div>
                <div class="franchise-partners jetgrid jetgrid--container">
                    <div class="franchise-partners__content jetgrid__col--14 jetgrid__col--md-24">
                        <div class="franchise-partners__bg">
                            <img src="/partners-bg.svg" alt="Forma azul de fundo">
                        </div>
                        <div class="franchise-partners__text">
                            <h2 class="franchise-partners__title">Invista a partir de R$250 mil e fature de R$1 milhão a R$2,5 milhões por ano!</h2>
                            <p  class="franchise-partners__paragraph">Com lucro de 20% a 30% e retorno em 24 a 36 meses, você estará entrando no mercado de festas infantis com alta rentabilidade!</p>
                            <a class="franchise-partners__link" href="/party">Quero ser um franqueado</a>
                        </div>
                    </div>
                    <div class="franchise-partners__img-box jetgrid__col--12 jetgrid__col--md-24">
                        <img src="/partners.png" alt="Foto dos sócios fundadores do Buffet Star Happy, Liege e Lucas">
                        <svg class="franchise-partners__star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35.045" height="40.818" viewBox="0 0 35.045 40.818"><defs><clipPath id="a"><rect width="12.275" height="10.373" fill="none"/></clipPath><clipPath id="b"><rect width="2.758" height="0.931" fill="none"/></clipPath><clipPath id="d"><rect width="7.278" height="1.637" fill="none"/></clipPath><clipPath id="e"><rect width="19.088" height="7.639" fill="none"/></clipPath></defs><g transform="translate(0)"><path d="M140.395,21.788c-1.545-.32-2.6,1.163-7.257.777a4.746,4.746,0,0,1-3.539-2.351c-1.454-3.107-1.853-7.727-.3-10.788a3.548,3.548,0,0,0-2.592,2.48,5.055,5.055,0,0,1,1.259-5.446,8.263,8.263,0,0,0-5.292,4.877c-.008.008-.012.017-.021.021a2.872,2.872,0,0,1,.228-3.028,9.057,9.057,0,0,0-2.343,5,39.853,39.853,0,0,1-.9,4.175c-.341.839-.677,1.657-1.026,2.384a11.18,11.18,0,0,1-4.569,5.429c-1.99,1.4-4.358,1.857-5.583,2.459-3.07,1.516-1.309,3.124-.523,3.577,2.9,1.687,4.736,2.663,5.542,4.827.374,1.014-.536,4.1-1.329,5.932-.075.174-.141.349-.2.519l-.066-.071a4.831,4.831,0,0,1-1.591,2.65.708.708,0,0,0-.2.312c-.054.245.162.469.382.594a4.175,4.175,0,0,0,1.932.407,4.393,4.393,0,0,0,2.164-.282c2.056-.507,5.018-2.762,7.93-3.34,3.273-.652,5.7,1.462,7.535,2.522a7.241,7.241,0,0,0,2.106,1.2,6.355,6.355,0,0,0,2.434.66c.316,0,.681-.091.756-.349a.639.639,0,0,0-.058-.395,8.052,8.052,0,0,1-.391-2.808c.191-1.932-.174-5.043-.008-7.373.216-3.016,4.063-7.232,5.853-9.982,1.6-2.459,1.217-4.279-.328-4.6" transform="translate(-106.716 -6.46)" fill="#65b345"/><g transform="translate(11.134 27.828)" opacity="0.2"><g clip-path="url(#a)"><path d="M136.312,74.98c-3.327,2.53-2.9,7-2.551,8.844A18.085,18.085,0,0,1,138.277,82c2.538-.507,4.569.656,6.21,1.695a9.224,9.224,0,0,0,.964-7.245c-.64-2.127-4.873-4.723-9.139-1.475" transform="translate(-133.524 -73.447)" fill="#fff"/></g></g><path d="M135.479,54.152a1.124,1.124,0,1,1-.827-1.358,1.125,1.125,0,0,1,.827,1.358" transform="translate(-122.234 -33.527)"/><path d="M136.5,54.5a.451.451,0,1,1-.332-.544.452.452,0,0,1,.332.544" transform="translate(-123.607 -34.217)" fill="#fff"/><path d="M162.359,50.252a1.124,1.124,0,1,1-.827-1.358,1.125,1.125,0,0,1,.827,1.358" transform="translate(-137.948 -31.247)"/><path d="M163.389,50.6a.451.451,0,1,1-.332-.544.452.452,0,0,1,.332.544" transform="translate(-139.327 -31.936)" fill="#fff"/><g transform="translate(10.225 22.004)"><g clip-path="url(#b)"><path d="M134.088,59.917c0,.258-.623.457-1.383.449s-1.375-.224-1.375-.478.623-.457,1.383-.449,1.375.224,1.375.478" transform="translate(-131.33 -59.435)" fill="#e85b9a"/></g></g><g transform="translate(22.978 20.508)"><g clip-path="url(#b)"><path d="M164.778,56.317c0,.258-.623.457-1.383.449s-1.375-.224-1.375-.478.623-.457,1.383-.449,1.375.224,1.375.478" transform="translate(-162.024 -55.835)" fill="#e85b9a"/></g></g><g transform="translate(14.088 20.616)"><g clip-path="url(#d)"><path d="M141.13,57.259s3.768,1.612,6.863-.669" transform="translate(-140.922 -56.382)" fill="none" stroke="#754d24" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/></g></g><g transform="translate(7.911 15.727)"><g clip-path="url(#e)"><path d="M130.313,45.338a8.061,8.061,0,0,1,2.6.1,8.213,8.213,0,0,0,4.623-.44,10.728,10.728,0,0,1,3.743-.681c1.076-.033,2.156.029,3.232.042.174,0,.237.058.249.224.021.3.05.606.087.906a.248.248,0,0,1-.162.291.606.606,0,0,0-.345.652,11.662,11.662,0,0,1-.042,1.786,2.785,2.785,0,0,1-2.214,2.517,5.547,5.547,0,0,1-3.037-.012,3.629,3.629,0,0,1-2.027-1.579,16.534,16.534,0,0,1-.818-1.6,1.6,1.6,0,0,0-.295-.44.62.62,0,0,0-1,.141,1.268,1.268,0,0,0-.179.523,3.55,3.55,0,0,1-.22.972,6.017,6.017,0,0,1-.827,1.608A3.572,3.572,0,0,1,132,51.578a5.832,5.832,0,0,1-2.472.345,2.857,2.857,0,0,1-2.7-2.276,11.418,11.418,0,0,1-.3-1.545.576.576,0,0,0-.436-.54.292.292,0,0,1-.245-.32c-.017-.287-.046-.569-.079-.852-.017-.145.012-.22.174-.262a28.3,28.3,0,0,1,4.37-.793m.033.565c-.212.021-.428.025-.64.062a5.285,5.285,0,0,0-1.8.565.865.865,0,0,0-.436.606,4.884,4.884,0,0,0,.444,3.219,1.826,1.826,0,0,0,1.076.943,3.531,3.531,0,0,0,2,.071,3.28,3.28,0,0,0,2.846-3.17,2.958,2.958,0,0,1-.017-.424,1.275,1.275,0,0,0-.715-1.616,6,6,0,0,0-2.762-.262m10.119-.993a7.1,7.1,0,0,0-2.846.777,1.191,1.191,0,0,0-.669,1.23,4.6,4.6,0,0,0,.511,1.682A2.938,2.938,0,0,0,138.55,49.9a4.118,4.118,0,0,0,3.377.366,2.011,2.011,0,0,0,1.479-1.441A5.221,5.221,0,0,0,143.365,46a1.252,1.252,0,0,0-1.2-1.018c-.665-.05-1.329-.071-1.7-.087" transform="translate(-125.76 -44.312)" fill="#c99d66"/></g></g><path d="M129.963,44.6a8.06,8.06,0,0,1,2.6.1,8.214,8.214,0,0,0,4.623-.44,10.728,10.728,0,0,1,3.743-.681c1.076-.033,2.156.029,3.232.042.174,0,.237.058.249.224.021.3.05.606.087.906a.248.248,0,0,1-.162.291.606.606,0,0,0-.345.652,11.643,11.643,0,0,1-.042,1.786,2.785,2.785,0,0,1-2.214,2.517,5.547,5.547,0,0,1-3.037-.012,3.629,3.629,0,0,1-2.027-1.579,16.532,16.532,0,0,1-.818-1.6,1.6,1.6,0,0,0-.295-.44.62.62,0,0,0-1,.141,1.268,1.268,0,0,0-.179.523,3.55,3.55,0,0,1-.22.972,6.018,6.018,0,0,1-.827,1.608,3.571,3.571,0,0,1-1.678,1.23,5.832,5.832,0,0,1-2.472.345,2.857,2.857,0,0,1-2.7-2.276,11.414,11.414,0,0,1-.3-1.545.576.576,0,0,0-.436-.54.292.292,0,0,1-.245-.32c-.017-.287-.046-.569-.079-.852-.017-.145.012-.22.174-.262a28.3,28.3,0,0,1,4.37-.793m.033.565c-.212.021-.428.025-.64.062a5.285,5.285,0,0,0-1.8.565.866.866,0,0,0-.436.606,4.884,4.884,0,0,0,.445,3.219,1.826,1.826,0,0,0,1.076.943,3.532,3.532,0,0,0,2,.071,3.279,3.279,0,0,0,2.846-3.17,2.962,2.962,0,0,1-.017-.424,1.275,1.275,0,0,0-.715-1.616,6,6,0,0,0-2.762-.262m10.123-.993a7.1,7.1,0,0,0-2.846.777,1.191,1.191,0,0,0-.669,1.23,4.6,4.6,0,0,0,.511,1.682,2.938,2.938,0,0,0,1.093,1.313,4.118,4.118,0,0,0,3.377.366,2.011,2.011,0,0,0,1.479-1.441,5.262,5.262,0,0,0-.037-2.825,1.253,1.253,0,0,0-1.209-1.018c-.665-.05-1.329-.071-1.7-.087" transform="translate(-117.645 -28.152)" fill="#89d1f5"/></g></svg>
                    </div>
                </div>
                <div class="franchise-advantages">
                    <h2 class="franchise-advantages__title">Vantagens de ser um franqueado</h2>
                    <div class="franchise-advantages__slider1 jetgrid jetgrid--container jetflex--align-items-center" data-jetslider>
                        <ul class="franchise-advantages__list" data-jetslider-container>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-coins.svg" alt="Alta lucratividade">
                                <span class="franchise-advantages__text">Alta lucratividade</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-invoicing.svg" alt="Faturamento com opcionais e serviços terceirizados">
                                <span class="franchise-advantages__text">Faturamento<br>com opcionais<br>e serviços terceirizados</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-stock.svg" alt="Ausência de estoque">
                                <span class="franchise-advantages__text">Ausência de<br>estoque</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-low-cost.svg" alt="Baixo custo operacional">
                                <span class="franchise-advantages__text">Baixo custo<br>operacional</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-security.svg" alt="Inadimplência zero">
                                <span class="franchise-advantages__text">Inadimplência<br>zero</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-suport.svg" alt="Suporte total">
                                <span class="franchise-advantages__text">Suporte<br>total</span>
                            </li>
                        </ul>
                        <div class="franchise-advantages__pagination-container jetgrid jetflex--justify-content-center jetflex--align-items-center jetdisplay--none jetdisplay--md-flex">
                            <button class="franchise-advantages__pagination-previous1" data-jetslider-previous>
                                <div class="franchise-advantages__pagination-previous-box">
                                    <svg class="franchise-advantages__pagination-icon" xmlns="http://www.w3.org/2000/svg" width="35" height="24.343" viewBox="0 0 35 24.343"><path d="M43.585,91.363H31.206a.857.857,0,0,1-.853-.861v-.977a3.2,3.2,0,0,0-4.9-2.733l-10.9,6.895a5.521,5.521,0,0,0-.02,9.3l11.232,7.177a2.987,2.987,0,0,0,4.587-2.544v-1.907H43.585A3.429,3.429,0,0,0,47,102.269V94.805A3.429,3.429,0,0,0,43.585,91.363Z" transform="translate(-11.999 -86.292)" fill="#ffc107"/><path d="M14.554,189.386a3.9,3.9,0,0,0-1.666,3.392,4.175,4.175,0,0,0,1.9,3.646c2.691,1.829,10.974,6.928,10.974,6.928a2.987,2.987,0,0,0,4.588-2.544v-.764a.857.857,0,0,1,.853-.861H43.585A3.429,3.429,0,0,0,47,195.741v2.228a3.429,3.429,0,0,1-3.415,3.443H30.352v1.907a2.987,2.987,0,0,1-4.588,2.544l-11.232-7.177a5.521,5.521,0,0,1,.02-9.3Z" transform="translate(-12 -181.992)" fill="#ffa000"/></svg>
                                </div>
                            </button>
                            <ul class="franchise-advantages__pagination1" data-jetslider-pagination></ul>
                            <button class="franchise-advantages__pagination-next1" data-jetslider-next>
                                <div class="franchise-advantages__pagination-next-box">
                                    <svg class="franchise-advantages__pagination-icon" xmlns="http://www.w3.org/2000/svg" width="35" height="24.343" viewBox="0 0 35 24.343"><path d="M15.414,91.363H27.793a.857.857,0,0,0,.853-.861v-.977a3.2,3.2,0,0,1,4.9-2.733l10.9,6.895a5.521,5.521,0,0,1,.02,9.3l-11.232,7.177a2.987,2.987,0,0,1-4.587-2.544v-1.907H15.414A3.429,3.429,0,0,1,12,102.269V94.805A3.429,3.429,0,0,1,15.414,91.363Z" transform="translate(-12 -86.292)" fill="#ffc107"/><path d="M44.446,189.386a3.9,3.9,0,0,1,1.666,3.392,4.175,4.175,0,0,1-1.9,3.646c-2.691,1.829-10.974,6.928-10.974,6.928a2.987,2.987,0,0,1-4.588-2.544v-.764a.857.857,0,0,0-.853-.861H15.414A3.429,3.429,0,0,1,12,195.741v2.228a3.429,3.429,0,0,0,3.415,3.443H28.647v1.907a2.987,2.987,0,0,0,4.588,2.544l11.232-7.177a5.521,5.521,0,0,0-.02-9.3Z" transform="translate(-12 -181.992)" fill="#ffa000"/></svg>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="jetgrid jetgrid--container">
                        <div class="franchise-advantages__border"></div>
                    </div>
                    <h2 class="franchise-advantages__title">Suporte completo</h2>
                    <div class="franchise-advantages__slider2 jetgrid jetgrid--container jetflex--align-items-center" data-jetslider>
                        <ul class="franchise-advantages__list" data-jetslider-container>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-location.svg" alt="Suporte pré-operacional com escolha do local">
                                <span class="franchise-advantages__text">Suporte<br>pré-operacional<br>com escolha do local</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-training.svg" alt="Treinamento e capacitação">
                                <span class="franchise-advantages__text">Treinamento<br>e capacitação</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-toys.svg" alt="Escolha e compra dos brinquedos">
                                <span class="franchise-advantages__text">Escolha<br>e compra dos<br>brinquedos</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-process.svg" alt="Processos testados e validados">
                                <span class="franchise-advantages__text">Processos<br>testados<br>e validados</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-menu.svg" alt="Cardápios exclusivos">
                                <span class="franchise-advantages__text">Cardápios<br>exclusivos</span>
                            </li>
                            <li class="franchise-advantages__item" data-jetslider-slide>
                                <img src="/advantages-marketing.svg" alt="Marketing e apoio comercial">
                                <span class="franchise-advantages__text">Marketing<br>e apoio comercial</span>
                            </li>
                        </ul>
                        <div class="franchise-advantages__pagination-container jetgrid jetflex--justify-content-center jetflex--align-items-center jetdisplay--none jetdisplay--md-flex">
                            <button class="franchise-advantages__pagination-previous2" data-jetslider-previous>
                                <div class="franchise-advantages__pagination-previous-box">
                                    <svg class="franchise-advantages__pagination-icon" xmlns="http://www.w3.org/2000/svg" width="35" height="24.343" viewBox="0 0 35 24.343"><path d="M43.585,91.363H31.206a.857.857,0,0,1-.853-.861v-.977a3.2,3.2,0,0,0-4.9-2.733l-10.9,6.895a5.521,5.521,0,0,0-.02,9.3l11.232,7.177a2.987,2.987,0,0,0,4.587-2.544v-1.907H43.585A3.429,3.429,0,0,0,47,102.269V94.805A3.429,3.429,0,0,0,43.585,91.363Z" transform="translate(-11.999 -86.292)" fill="#ffc107"/><path d="M14.554,189.386a3.9,3.9,0,0,0-1.666,3.392,4.175,4.175,0,0,0,1.9,3.646c2.691,1.829,10.974,6.928,10.974,6.928a2.987,2.987,0,0,0,4.588-2.544v-.764a.857.857,0,0,1,.853-.861H43.585A3.429,3.429,0,0,0,47,195.741v2.228a3.429,3.429,0,0,1-3.415,3.443H30.352v1.907a2.987,2.987,0,0,1-4.588,2.544l-11.232-7.177a5.521,5.521,0,0,1,.02-9.3Z" transform="translate(-12 -181.992)" fill="#ffa000"/></svg>
                                </div>
                            </button>
                            <ul class="franchise-advantages__pagination2" data-jetslider-pagination></ul>
                            <button class="franchise-advantages__pagination-next2" data-jetslider-next>
                                <div class="franchise-advantages__pagination-next-box">
                                    <svg class="franchise-advantages__pagination-icon" xmlns="http://www.w3.org/2000/svg" width="35" height="24.343" viewBox="0 0 35 24.343"><path d="M15.414,91.363H27.793a.857.857,0,0,0,.853-.861v-.977a3.2,3.2,0,0,1,4.9-2.733l10.9,6.895a5.521,5.521,0,0,1,.02,9.3l-11.232,7.177a2.987,2.987,0,0,1-4.587-2.544v-1.907H15.414A3.429,3.429,0,0,1,12,102.269V94.805A3.429,3.429,0,0,1,15.414,91.363Z" transform="translate(-12 -86.292)" fill="#ffc107"/><path d="M44.446,189.386a3.9,3.9,0,0,1,1.666,3.392,4.175,4.175,0,0,1-1.9,3.646c-2.691,1.829-10.974,6.928-10.974,6.928a2.987,2.987,0,0,1-4.588-2.544v-.764a.857.857,0,0,0-.853-.861H15.414A3.429,3.429,0,0,1,12,195.741v2.228a3.429,3.429,0,0,0,3.415,3.443H28.647v1.907a2.987,2.987,0,0,0,4.588,2.544l11.232-7.177a5.521,5.521,0,0,0-.02-9.3Z" transform="translate(-12 -181.992)" fill="#ffa000"/></svg>
                                </div>
                            </button>
                        </div>
                        <a class="franchise-advantages__link" href="/party">Quero ser um franqueado</a>
                    </div>
                </div>
                <div class="franchise-models">
                    <div class="jetgrid jetgrid--container jetflex--direction-column jetflex--align-items-center jetgrid--xs-no-gap">
                        <h2 class="franchise-models__title jetgrid__col--24">Nossos modelos de franquia</h2>
                        <h3 class="franchise-models__subtitle jetgrid__col--24">Somos o buffet que mais realiza festas em Curitiba, com excelente reputação e feedbacks positivos dos clientes!</h3>
                        <span class="franchise-models__text jetgrid__col--24">Oferecemos um modelo de negócio testado, uma marca sólida e suporte constante. Alta demanda e clientes recorrentes garantem um investimento seguro e lucrativo.</span>
                        <div class="franchise-models__offer jetgrid jetflex--align-items-center jetflex--md-direction-column">
                            <div class="franchise-models-box jetflex--direction-column jetflex--align-items-center jetgrid__col--12 jetgrid__col--md-16 jetgrid__col--sm-24 jetgrid--xs-no-gap">
                                <img class="franchise-models__img" src="/models-standard.png" alt="Modelo de franquia standard">
                                <div class="franchise-models__info jetgrid jetflex--direction-column jetflex--align-items-center">
                                    <span class="franchise-models-name">Standard</span>
                                    <span class="franchise-models-meters"><strong>Metragem:</strong> 300m²</span>
                                    <span class="franchise-models-investiment"><strong>Investimento:</strong> a partir de R$ 250.000,00 *</span>
                                    <span class="franchise-models-note">* Mais taxa de franquia</span>
                                </div>
                            </div>
                            <div class="franchise-models-box jetflex--direction-column jetflex--align-items-center jetgrid__col--12 jetgrid__col--md-16 jetgrid__col--sm-24 jetgrid--xs-no-gap">
                                <img class="franchise-models__img" src="/models-master.png" alt="Modelo de franquia master">
                                <div class="franchise-models__info jetgrid jetflex--direction-column jetflex--align-items-center">
                                    <span class="franchise-models-name">Master</span>
                                    <span class="franchise-models-meters"><strong>Metragem:</strong> 400m²</span>
                                    <span class="franchise-models-investiment"><strong>Investimento:</strong> a partir de R$ 370.000,00 *</span>
                                    <span class="franchise-models-note">* Mais taxa de franquia</span>
                                </div>

                            </div>
                        </div>
                        <span class="franchise-models__cta jetgrid__col--24">Seja um novo franqueado e leve a alegria<br>das festas infantis para ainda mais famílias na sua cidade!</span>
                        <a class="franchise-models__link" href="/party">Quero ser um franqueado</a>
                    </div>
                    <svg class="franchise-models__pink-cloud" xmlns="http://www.w3.org/2000/svg" width="328.887" height="68.765" viewBox="0 0 328.887 68.765"><path d="M823.829,456.211a40.625,40.625,0,0,0-36.847,23.505,46.712,46.712,0,0,0-53.005-27.106,46.682,46.682,0,0,0-58.686,11.967,46.674,46.674,0,0,0-66.267,12.939,36.566,36.566,0,0,0-44.693,25.448,16.062,16.062,0,0,0-28.766,9.833,15.015,15.015,0,0,0,.281,2.967H859.77a40.623,40.623,0,0,0-35.941-59.554" transform="translate(-535.564 -447)" fill="#ffb3b9"/></svg>
                    <svg class="franchise-models__orange-cloud" xmlns="http://www.w3.org/2000/svg" width="107.362" height="30.489" viewBox="0 0 107.362 30.489"><path d="M104.757,76.087a9.165,9.165,0,0,0-10.989-13.1,17.4,17.4,0,0,0-31.085-6.545,15.468,15.468,0,0,0-23.577,5.613,8.917,8.917,0,0,0-12.831,2.434,10.073,10.073,0,0,0-16.091,8.077c0,.026,0,.067,0,.093A13.472,13.472,0,0,0,0,79.752H107.362a5.227,5.227,0,0,0-2.6-3.665" transform="translate(0 -49.263)" fill="#fbb03b"/></svg>
                    <svg class="franchise-models__white-cloud1" xmlns="http://www.w3.org/2000/svg" width="137.267" height="38.981" viewBox="0 0 137.267 38.981"><path d="M320.186,108.932a11.718,11.718,0,0,0-14.05-16.753,22.247,22.247,0,0,0-39.744-8.369,19.777,19.777,0,0,0-30.144,7.176,11.4,11.4,0,0,0-16.4,3.111,12.879,12.879,0,0,0-20.574,10.327c0,.033,0,.086,0,.119a17.223,17.223,0,0,0-13.023,9.074H323.517a6.682,6.682,0,0,0-3.33-4.686" transform="translate(-186.25 -74.637)" fill="#fff"/></svg>
                    <svg class="franchise-models__white-cloud2" xmlns="http://www.w3.org/2000/svg" width="137.267" height="38.981" viewBox="0 0 137.267 38.981"><path d="M320.186,108.932a11.718,11.718,0,0,0-14.05-16.753,22.247,22.247,0,0,0-39.744-8.369,19.777,19.777,0,0,0-30.144,7.176,11.4,11.4,0,0,0-16.4,3.111,12.879,12.879,0,0,0-20.574,10.327c0,.033,0,.086,0,.119a17.223,17.223,0,0,0-13.023,9.074H323.517a6.682,6.682,0,0,0-3.33-4.686" transform="translate(-186.25 -74.637)" fill="#fff"/></svg>
                    <svg class="franchise-models__green-cloud" xmlns="http://www.w3.org/2000/svg" width="160.082" height="33.47" viewBox="0 0 160.082 33.47"><path d="M117.336,239.22a19.773,19.773,0,0,1,17.935,11.441,22.736,22.736,0,0,1,25.8-13.193,22.722,22.722,0,0,1,28.564,5.825,22.718,22.718,0,0,1,32.255,6.3,17.8,17.8,0,0,1,21.753,12.387,7.818,7.818,0,0,1,14,4.786,8.728,8.728,0,0,1-.137,1.445H99.842a19.772,19.772,0,0,1,17.494-28.987" transform="translate(-97.563 -234.737)" fill="#8cc63f"/></svg>
                </div>
            </section>
            <%- include('../includes/main') %>
        </main>
        <%- include('../includes/footer') %>
    </body>
</html>